<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=0">
    <title>
        Poker Plan
    </title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" type="text/css" href="userList.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary ">
        8 800 555 35 35
    </nav>
    <div class="container mt-2">
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">
                            Pocker Planing. Pre-pre-pre-Alfa
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="input-group form-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">
                                    Имя
                                </label>
                            </div>
                            <input type="text" class="form-control" required placeholder="Ваше имя" aria-label="Nickname"
                                aria-describedby="basic-addon1" id="username">
                        </div>
                        <div class="input-group  form-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">
                                    Роль
                                </label>
                            </div>
                            <select class="custom-select form-control" required id="role">
                                <option value="1">PM</option>
                                <option value="2">Developer</option>
                                <option value="3">QA</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm mb-1 d-none text-danger" id="autorizationMessage">
                            Данное имя уже занято
                        </div>
                        <button type="button" class="btn btn-primary" id="autorization">Вход</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Блок с картами -->
        <div class="row mt-4">
            <div class="col-lg-9 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card" id="voteResultBlock" style="display: none;">
                            <div class="card-header">
                                <h4>
                                    Голосование окончено
                                </h4>
                            </div>
                            <div class="card-body">
                                <div id='avg'>
                                    <h4 class="card-title">Результат</h4>
                                    <p class="card-text" id="voteResult">Трудозатрат в днях: 5.8</p>
                                </div>
                            </div>
                            <table class="mt-2 mb-0 table table-striped table-dark userVotes">
                                <thead>
                                    <tr>
                                        <th><span>Участник</span></th>
                                        <th><span>Голос</span></th>
                                    </tr>
                                </thead>
                                <tbody id="userVotesList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" id="cardBlock" style="display: none;">
                    {{range .Cards}}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 pb-3">
                        <button type="button" class="btn p-0 voteCard card justify-content-around" value="{{.Value}}"
                            data-question="{{.IsQuestion}}" data-coffee="{{.IsCoffee}}" data-toggle="button" aria-pressed="false"
                            autocomplete="off">
                            <div class="d-flex mb-auto bd-highlight">
                                {{if .IsCoffee}}
                                <span class="fa fa-coffee mr-auto mr-auto ml-1 mt-1">
                                </span>
                                {{else if .IsQuestion}}
                                <span class="fa fa-question mr-auto mr-auto ml-1 mt-1">
                                </span>
                                {{else}}
                                <span class="number mr-auto mr-auto ml-1 mt-1">
                                    {{if eq .Value 0.5}}
                                    <b>½</b>
                                    {{else}}
                                    <b>{{ .Value }}</b>
                                    {{end}}
                                </span>
                                {{end}}
                            </div>
                            <div class="d-flex bd-highlight m-auto">
                                {{if .IsCoffee}}
                                <span class="fa fa-coffee m-auto card-center">
                                </span>
                                {{else if .IsQuestion}}
                                <span class="fa fa-question m-auto card-center">
                                </span>
                                {{else}}
                                <span class="number m-auto card-center">
                                    {{if eq .Value 0.5}}
                                    <b>½</b>
                                    {{else}}
                                    <b>{{ .Value }}</b>
                                    {{end}}
                                </span>
                                {{end}}
                            </div>
                            <div class="d-flex mt-auto">
                                {{if .IsCoffee}}
                                <span class="fa fa-coffee ml-auto  mb-1 mr-1">
                                </span>
                                {{else if .IsQuestion}}
                                <span class="fa fa-question ml-auto  mb-1 mr-1">
                                </span>
                                {{else}}
                                <span class="number ml-auto  mb-1 mr-1">
                                    {{if eq .Value 0.5}}
                                    <b>½</b>
                                    {{else}}
                                    <b>{{ .Value }}</b>
                                    {{end}}
                                </span>
                                {{end}}
                            </div>
                        </button>
                    </div>
                    {{end}}
                </div>
                <div class="row mt-4 justify-content-center">
                    <div class="col-auto">
                        <input hidden class="text form-control" id="topicName">
                        <button class="btn btn-lg   btn-outline-success" id="startVote">
                            Старт голосования
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-12">
                <div class="main-box no-header clearfix">
                    <div class="main-box-body clearfix">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>Участники</span></th>
                                    </tr>
                                </thead>
                                <tbody id="userList">
                                    {{range .Users}}
                                    <tr id="user_{{.Name}}">
                                        <td>
                                            <img class="avatar  rounded-circle" src="48-512.png" alt="">
                                            <span>{{.Name}}</span>
                                            <br>
                                            <span class="user-subhead" class="role">{{.Role}}</span>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
</body>
<script src="clientHandler.js"></script>

</html>
