textarea {
    resize: none;
}

html,
body {
    background-color: #222;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* .card {
    height: 100%;
} */

.h-80 {
    height: 80% !important
}

.h-95 {
    height: 95% !important
}

.h-10 {
    height: 10% !important
}

#sendMessage,
#sendMessage:active {
    border-radius: 100px;
    box-shadow: none;
}

.input-group-prepend {
    min-width: 60px;
}


.input-group-text {
    min-width: 100%;
    text-align: left;
}

.voteCard {
    background-color: #444;
    border-width: 1px;
    border-radius: 5%;
    border-color: #555;
    color: #aaa;
    height: 154px;
    width: 110px;
    user-select: none;
}

.voteCard:hover {
    box-shadow: 0 0 0 3px #375a7f;
}

.voteCard:focus {
    box-shadow: 0 0 0 3px #375a7f;
    outline-width: 0;
}

.voteCard:active, .voteCard.active {
    background-color: #375a7f;
}

.voteCard .number {
    line-height: 20pt;
    font-size: 26pt;
}

.voteCard .number.card-center {
    font-size: 45pt;
}

.voteCard .fa {
    font-size: 20pt;
}

.voteCard div {
    width: inherit;
}

.voteCard .card-center.fa {
    font-size: 30pt;
}

#avg {
    color: #ccc
}

.avatar {
    width: 50px;
    height: 50px;
}

.card {
    color: #aaa;
    font-size: 16pt;
}

.card .table{
    color: #aaa;
}

.card-body h4 {
    font-size: 18pt;
}

.modal{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.modal input {
    background-color: #aaa;
}

.modal input:focus {
    background-color: #aaa;
}

.modal select{
    background-color: #aaa;
}

.modal select:focus{
    background-color: #aaa;
}